.container {
  width: 800px;
  height: 575px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .impressions-form {
    width: 100%;
    display: flex;

    .left-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 7%;
      .title {
        width: 90%;
        resize: none;
        .title-textarea {
          resize: none;
        }
      }
      .descriptyon {
        width: 90%;
        .descriptyon-textarea {
          resize: none;
        }
      }
      .buttons {
        display: flex;
        align-items: center;

        .save {
          width: 100px;
          margin-left: 40px;
        }

        .cancel {
          margin-left: auto !important;
          margin-right: 40px;
          width: 100px;
        }
      }
    }
  }
}
