<div class="container">
  <form class="impressions-form"
        [formGroup]="notesForm">

    <div class="left-content">
      <mat-form-field class="title"
                      appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput
                  class="title-textarea"
                  formControlName="userName"
                  readonly/>
      </mat-form-field>

      <mat-form-field class="title"
                      appearance="outline">
        <mat-label>Name notes</mat-label>
        <textarea matInput
                  class="title-textarea"
                  formControlName="name"
                  rows="4"
                  maxlength="200"
                  placeholder="Enter name"
                  readonly></textarea>
      </mat-form-field>

      <mat-form-field class="descriptyon"
                      appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput
                  class="descriptyon-textarea"
                  formControlName="description"
                  rows="6"
                  maxlength="2000"
                  placeholder="Enter description"
                  readonly></textarea>
      </mat-form-field>
      <div class="buttons">
        <button class="cancel mat-raised-button" mat-raised-button (click)="closeWindow()" >OK</button>
      </div>
</div>
