<div class="wrapper">
  <h1 class="user-label">Notes managment</h1>
  <div class="filter-wrapper">
    <button class="add-item" mat-button  matTooltip="Add new item" (click)="createNotes()" ><img src="assets/add.svg" height=30px width=30px></button>
  </div>
  <div class="table-wrapper">
    <table class="table"
           mat-table
           [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef>Name Note</th>
        <td mat-sell
            (click)="getInformation(item.id)"
            *matCellDef="let item">{{item.name}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell
            *matHeaderCellDef>Description</th>
        <td mat-sell
            (click)="getInformation(item.id)"
            *matCellDef="let item">{{item.description | slice:0:10}}...</td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell
            *matHeaderCellDef>User Name</th>
        <td mat-sell
            (click)="getInformation(item.id)"
            *matCellDef="let item">{{item.userName}}</td>
      </ng-container>

      <ng-container matColumnDef="crud">
        <th mat-header-cell
            *matHeaderCellDef></th>
        <td class="crud"
            mat-sell
            *matCellDef="let element">
          <div class="crud-button">
            <button class="edit mat-button" (click)="updateNotes(element)" mat-button>
              <img src="assets/create.svg" height="30px" width="30px" />
            </button>
            <button class="delete" (click)="deleteNotes(element)" mat-button>
              <img src="assets/clear.svg" height="30px" width="30px" />
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
