.wrapper {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 250px;
  margin-top: 200px;
  .table-wrapper {
    width: 1300px;
    .table {
      width: 100%;

      .mat-header-cell {
        padding-left: 0px;
        width: 250px;
        text-align: center;
        font-size: 14px;
        box-shadow: inset -2px 0px 0px 0px rgba(0, 0, 0, 0.12);
        color: black;
      }

      td {
        text-align: center;
        box-shadow: inset -2px 0px 0px 0px rgba(0, 0, 0, 0.12);
      }
    }
  }
}
