<div class="container">
  <form class="impressions-form"
        [formGroup]="notesForm">

    <div class="left-content">
      <mat-form-field class="title"
                      appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput
                  class="title-textarea"
                  formControlName="userName"
                  required
                  [(ngModel)]="noteItem.userName"/>
        <mat-error *ngIf="notesForm.controls['userName'].hasError('required')">User name is required</mat-error>
      </mat-form-field>

      <mat-form-field class="title"
                      appearance="outline">
        <mat-label>Name notes</mat-label>
        <textarea matInput
                  class="title-textarea"
                  formControlName="name"
                  rows="4"
                  maxlength="200"
                  placeholder="Enter name"
                  required
                  [(ngModel)]="name"></textarea>
        <mat-error *ngIf="notesForm.controls['name'].hasError('required')">Name notes is required</mat-error>
        <mat-hint align="end">{{name?.length || 0}}/200</mat-hint>
      </mat-form-field>

      <mat-form-field class="descriptyon"
                      appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput
                  class="descriptyon-textarea"
                  formControlName="description"
                  rows="6"
                  maxlength="2000"
                  placeholder="Enter description"
                  required
                  [(ngModel)]="description"></textarea>
        <mat-error *ngIf="notesForm.controls['description'].hasError('required')">Descriptyon is required
        </mat-error>
        <mat-hint align="end">{{description?.length || 0}}/2000</mat-hint>
      </mat-form-field>

      <div class="buttons">
        <button class="cancel mat-raised-button" mat-raised-button (click)="closeWindow()" >Cancel</button>
        <button class="save"  (click)="submit()" [disabled]="notesForm.invalid" mat-raised-button >Save</button>
      </div>
</div>
